<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>healthcare_management</display-name>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>registration</servlet-name>
		<servlet-class>com.controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>doctor_registration</servlet-name>
		<servlet-class>com.controller.DoctorRegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>doctor_registration</servlet-name>
		<url-pattern>/doctor_registration</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>forgetpassword</servlet-name>
		<servlet-class>com.controller.ForgotPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>forgetpassword</servlet-name>
		<url-pattern>/forgetpassword</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>myimages</servlet-name>
		<servlet-class>com.dao.MyImages</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>myimages</servlet-name>
		<url-pattern>/myimages</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>doctor_data_update</servlet-name>
		<servlet-class>com.dao.Doctor_data_update</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>doctor_data_update</servlet-name>
		<url-pattern>/doctor_data_update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>bookappointment</servlet-name>
		<servlet-class>com.controller.BookAppointment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookappointment</servlet-name>
		<url-pattern>/bookappointment</url-pattern>
	</servlet-mapping>

</web-app>
